.services-heading1{
    font-size: 21px;
    color: grey;
    font-weight: normal;
    text-align: center;
    padding-top: 14px;
    margin-top: 50px;
  font-weight: 300;

}
.services-heading2{
    
 margin-top: -15px;
    font-weight: normal;
    text-align: center;
    padding-top: 14px;
    margin-bottom: 50px;
}
.product-slider{
   
}